{{ form_start(form) }}
    {{ form_widget(form) }}

    {# Si la route est "annonces_edit on affiche les images #}
	{% if app.request.attributes.get('_route') == 'products_edit' %}
        <h2 class="my-5">Images</h2>
        <div class="d-flex">
        {% for image in product.images %}
	            <div>
	                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="200">
	                <div class="text-center mt-4">
	                	<a href="{{ path('products_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
	                </div>
	            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="text-right mt-4">
    	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
